# Python stuff
__pycache__/
*.pyc

# Intellij
.idea/

# virtualenv
.venv
venv/
ENV/

# Datasets
datasets/*

# Locked .xlsx files
*.xlsx#

# DeepMoji Feature
# sources/features/DeepMoji-master/*

# Weka Feature
sources/features/weka/*

# Dumps
dumps/*

# Pretrained Vectors
sources/features/pretrained_vectors/*

# Java outputs
output.arff
output.csv

# Tweets downloaded
app/tweets.txt
